site_name: vmutter's blog
theme:
  name: material
  custom_dir: overrides
  language: pt-BR
  palette:
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Light mode
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Dark mode
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.instant.progress
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - navigation.path
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - blog: 
      archive: false

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  consent:
    title: Cookie consent
    actions:
       - accept
       - reject
       - manage
    description: >- 
      Nós utilizamos cookies para reconhecer suas visitas e preferências, 
      bem como para medir a eficácia de nossa documentação e se os 
      usuários encontram o que estão procurando. 
      Com seu consentimento, você está nos ajudando a 
      aprimorar nossa documentação.
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/vmutter
    - icon: fontawesome/brands/linkedin 
      link: https://www.linkedin.com/in/viniciusmutter/

copyright: >
  Copyright &copy; 2023 Vinicius Mutter Erbetta –
  <a href="#__consent">Alterar cookies</a>